<div class="ticket" style="transform: scale(0.719679);">
  <div class="stub">
    <picture>
      <img src="https://pixelsuperfansexperiences.withgoogle.com//static/images/google-pixel-logo.webp" height="220" width="220" alt="" aria-hidden="true" loading="lazy">
    </picture>
  </div>
  <div class="ticket__right">
    <picture>
      <img src="https://pixelsuperfansexperiences.withgoogle.com//static/images/superfan_partners-en-cropped.png" height="100%" width="100%" alt="Pixel Superfans Partners" aria-hidden="true" loading="lazy">
    </picture>
  </div>
</div>
