:host {
  --glue-grey-0: #fff;
}

img {
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

:host {
  animation: rotateMinusSix .5s cubic-bezier(0.47, 1.64, 0.41, 0.9) .1s forwards;
  align-items: center;
  display: flex;
  height: min(10vw, 96px);
  justify-content: center;
  max-height: 800px;
  max-width: 100dvw;
  scale: .6;
}

.ticket {
  backface-visibility: hidden;
  border-radius: 30px;
  display: flex;
  gap: 4px;
  height: 378px;
  width: 996px;
  will-change: scale;
  animation: zoomIn .5s cubic-bezier(0.47, 1.64, 0.41, 0.9) .1s forwards;
}

.stub {
  align-items: center;
  background-color: var(--glue-grey-0);
  border-radius: 30px 18px 18px 30px;
  box-shadow: -2px 4px 12px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px;
  pointer-events: none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 342px;

  picture {
    border-radius: 18px;
    height: 100%;
    overflow: hidden;
    padding: 24px;
    width: 100%;

    img {
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      width: 100%;
    }
  }

  &::after {
    background: repeating-linear-gradient(transparent 0, transparent 15px, var(--glue-grey-0) 15px, var(--glue-grey-0) 30px);
    content: "";
    height: 90%;
    position: absolute;
    right: -4px;
    width: 4px;
  }
}

.ticket__right {
  background-color: var(--glue-grey-0);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 6px 4px 12px rgba(0, 0, 0, .1);
  height: 100%;
  overflow: clip;
  position: relative;
  text-align: left;
  width: 700px;

  picture {
    display: flex;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    padding: 64px;
  }

  img {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@keyframes rotateMinusSix {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-6deg);
  }
}


@keyframes zoomIn {
  0% {
    scale: .8;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
