@use '../../styles/mixins';
:host {
  @include mixins.generate-size-variables(40px);
  display: inline-flex;
  vertical-align: middle;
  font-size: calc(var(--size, 40px) * 0.4);
}

.inner {
  align-items: center;
  border: var(--border-width, 0) solid var(--border-color, #fff);
  border-radius: 50%;
  display: inline-flex;
  height: var(--size, var(--size-medium));
  justify-content: center;
  position: relative;
  user-select: none;
  width: var(--size, var(--size-medium));

  &:not(:has(img)){
    background-color: var(--background-color, rgb(227,227,227));
  }
}

.status {
  --status-color: rgb(227,227,227);
  --status-size: calc(var(--size, var(--size-medium)) * 0.4);
  background: var(--status-color);
  border-radius: 50%;
  width: var(--status-size);
  position: absolute;
  height: var(--status-size);
  bottom: 0;
  right: 0;
  border: var(--border-width) solid white;
  transform: translate(10%, 10%);

  &.online {
    --status-color: #38a06c;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
