@use '../../styles/mixins';
$medium_size: 64px;
//$medium_size: 4rem; // 64px

:host {
  --status-size: calc(var(--size, var(--size-md)) * 0.4);

  @include mixins.generate-size-variables($medium_size);

  align-items: center;
  background-color: var(--background-color, rgb(227,227,227));
  border: var(--border-width, 0) solid var(--border-color, #fff);
  border-radius: 50%;
  display: inline-flex;
  font-size: calc(var(--size, $medium_size) * 0.4);
  height: var(--size, var(--size-md));
  justify-content: center;
  position: relative;
  user-select: none;
  width: var(--size, var(--size-md));
}

img {
  border-radius: inherit;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.status {
  background: var(--status-color,  rgb(227,227,227));
  border: var(--border-width) solid white;
  border-radius: 50%;
  bottom: 0;
  height: var(--status-size);
  position: absolute;
  right: 0;
  transform: translate(10%, 10%);
  width: var(--status-size);
  z-index: 2;

  &.online {
    --status-color: #38a06c;
  }
}
