:host {
  --border-radius: 50%;
  --avatar-size: 48px;
  border-radius: var(--border-radius);
  background-color: var(--background-muted, rgba(227,227,227,0.8));
  width: var(--avatar-size);
  height: var(--avatar-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
