@use '../styles/mixins';
:host {
  @include mixins.generate-size-variables(40px);
  display: inline-flex;
  vertical-align: middle;
  font-size: calc(var(--size, 40px) * 0.4);
}

/**
 * TODO: on light mode change border
 */

/**
THE ONLY REASON THIS EXISTS.....
is cause when the avatar component is hovered in the avatar group,
if you get it just right, it freaks out the transition,
and the avatar component jumps up and down
 */
.inner {
  align-items: center;
  border: var(--border-width, 0) solid var(--border-color, #fff);
  border-radius: 50%;
  display: inline-flex;
  height: var(--size, var(--size-medium));
  justify-content: center;
  user-select: none;
  width: var(--size, var(--size-medium));

  &:not(:has(img)){
    background-color: var(--background-color, rgb(227,227,227));
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
