<section>
  <avatar name="Craig Wayne Govender" image_url="https://mockmind-api.uifaces.co/content/human/1.jpg" title="full name + image" />
  <avatar name="Craig Wayne Govender" title="full name + no image" />
  <avatar name="Craig Wayne" title="first name + middle name + no image" />
  <avatar name="Craig" title="first name + no image" />
</section>
<section>
  <avatar name="Craig Wayne Govender" image_url="https://mockmind-api.uifaces.co/content/human/x.jpg" title="full name + broken image" />
  <avatar name="  Craig   Wayne   Govender" image_url="https://mockmind-api.uifaces.co/content/human/2.jpg" title="leading spaces in full name + image" />
  <avatar title="no name + no image" />
</section>

