:host {
  display: block;
  background-color: rgb(248 248 248 / 95%);
  width: 100%;
  max-width: 1460px;
  margin: 2rem auto;
  padding: 1rem 2rem 2rem 2rem;
  box-sizing: border-box;
  border-radius: 4px;
}

::ng-deep section {
  margin-bottom: 2rem
}
