:host {
  --background-color: rgb(248 248 248);
  display: block;
  background-color: var(--background-color);
  width: 100%;
  max-width: 1460px;
  margin: 2rem auto;
  box-sizing: border-box;
  border-radius: 4px;

  --padding: 1rem 2rem 2rem 2rem;
}

:host > .title {
  padding: var(--padding);
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
}

main {
  padding: var(--padding);
  padding-top: 0;
}

::ng-deep section {
  margin-bottom: 2rem
}
