/**
 * Uses the same ratio of h1 -> h6
 */
//@mixin generate-size-variables($medium-size) {
//  --size-extra-small: #{$medium-size * 0.67};
//  --size-small: #{$medium-size * 0.83};
//  --size-medium: #{$medium-size};
//  --size-large: #{$medium-size * 1.17};
//  --size-extra-large: #{$medium-size * 1.5};
//  --size-extra-extra-large: #{$medium-size * 2};
//}

/**
 * Based on tailwind sizing:https://tailwindcss.com/docs/width
 */
@mixin generate-size-variables($medium-size) {
  --size-3xs: #{$medium-size * (16/28)};
  --size-2xs: #{$medium-size * (18/28)};
  --size-xs: #{$medium-size * (20/28)};
  --size-sm: #{$medium-size * (24/28)}; // 24/28
  --size-md: #{$medium-size * (28/28)};
  --size-lg: #{$medium-size * (32/28)};
  --size-xl: #{$medium-size * (36/28)};
  --size-2xl: #{$medium-size * (42/28)};
  --size-3xl: #{$medium-size * (48/28)};
  --size-4xl: #{$medium-size * (56/28)};
  --size-5xl: #{$medium-size * (64/28)};
  --size-6xl: #{$medium-size * (72/28)};
  --size-7xl: #{$medium-size * (80/28)};
}
