:root {
  --background-muted: #e5e5e5;
}


// https://m2.material.io/design/color/the-color-system.html#color-theme-creation
// https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors
