<h1>CSS Flexbox</h1>

<section>
  <h2 class="title">flex-direction</h2>
  <div class="example">
    <row gap="10" id="example-direction-row">
      <column>1</column>
      <column style="width: var(--block-size-large)">2</column>
      <column style="width: var(--block-size-large)">3</column>
      <column>4</column>
      <column style="width: var(--block-size-large)">5</column>
      <column style="width: var(--block-size-large)">6</column>
      <column>7</column>
      <column style="width: var(--block-size-large)">8</column>
      <column style="width: var(--block-size-large)">9</column>
    </row>
    <h3 class="label">row</h3>
  </div>

  <div class="example">
    <row
      id="example-direction-row-reverse"
      gap="10"
      direction="row-reverse"
    >
      <column>1</column>
      <column style="width: var(--block-size-large)">2</column>
      <column style="width: var(--block-size-large)">3</column>
      <column>4</column>
      <column style="width: var(--block-size-large)">5</column>
      <column style="width: var(--block-size-large)">6</column>
      <column>7</column>
      <column style="width: var(--block-size-large)">8</column>
      <column style="width: var(--block-size-large)">9</column>
    </row>
    <h3 class="label">row-reverse</h3>
  </div>

  <column basis="100%" style="height:0"></column>

  <div class="example">
    <row
      id="example-direction-column"
      gap="10"
      direction="column"
      [inline]="true"
    >
      <column>1</column>
      <column style="height: var(--block-size-large)">2</column>
      <column style="height: var(--block-size-large)">3</column>
      <column>4</column>
      <column style="height: var(--block-size-large)">5</column>
      <column style="height: var(--block-size-large)">6</column>
      <column>7</column>
      <column style="height: var(--block-size-large)">8</column>
      <column style="height: var(--block-size-large)">9</column>
    </row>

    <h3 class="label">column</h3>
  </div>

  <div class="example">
    <row
      id="example-direction-column-reverse"
      gap="10"
      direction="column-reverse"
      [inline]="true"
    >
      <column>1</column>
      <column style="height: var(--block-size-large)">2</column>
      <column style="height: var(--block-size-large)">3</column>
      <column>4</column>
      <column style="height: var(--block-size-large)">5</column>
      <column style="height: var(--block-size-large)">6</column>
      <column>7</column>
      <column style="height: var(--block-size-large)">8</column>
      <column style="height: var(--block-size-large)">9</column>
    </row>
    <h3 class="label">column-reverse</h3>
  </div>
</section>

<hr />

<section>
  <h2 class="title">align-items</h2>
  <div class="example">
    <row
    gap="10"
    align-items="flex-start"
    >
      <column>1</column>
      <column style="width: var(--block-size-small); height: var(--block-size-large)">2</column>
      <column style="width: var(--block-size-small); height: var(--block-size-medium)">3</column>
    </row>
    <h3 class="label">flex-start</h3>
  </div>
  <div class="example">
    <row
    gap="10"
    align-items="center"
    >
      <column>1</column>
      <column style="width: var(--block-size-small); min-height: var(--block-size-large)">2</column>
      <column style="width: var(--block-size-small); min-height: var(--block-size-medium)">3</column>
    </row>
    <h3 class="label">center</h3>
  </div>
  <div class="example">
    <row
    gap="10"
    align-items="flex-end"
    >
      <column>1</column>
      <column style="width: var(--block-size-small); min-height: var(--block-size-large)">2</column>
      <column style="width: var(--block-size-small); min-height: var(--block-size-medium)">3</column>
    </row>
    <h3 class="label">flex-end</h3>
  </div>
  <div class="example">
    <row
    gap="10"
    >
      <column>1</column>
      <column style="width: var(--block-size-small); min-height: var(--block-size-large)">2</column>
      <column style="width: var(--block-size-small); min-height: var(--block-size-medium)">3</column>
    </row>
    <h3 class="label">stretch (default)</h3>
  </div>
</section>

